* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151b29;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  padding-top: 50px;
}

.form-survey {
  padding-top: 50px;
  text-align: center;
}

input {
  padding: 5px 5px;
}

textarea {
  padding: 5px 5px;
}

.btn {
  padding: 1em 2em;
  font-size: 1em;
  background-color: #151b29;
  color: #ffa260;
  border: 2px solid;
  transition: all ease 0.25s;
  cursor: pointer;
}

.btn:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
}
